@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
body{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family:  Poppins, sans-serif !important;;
    width: 100%;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    /* background: #04e0d909; */
}
html {
    scroll-behavior:smooth;
  }
.text-animate {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.text-animate.active {
  opacity: 1;
  transform: translateY(0);
}

  

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
p{
    animation: fadeInUp 1s ease forwards;
}
.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.705) 50%, rgba(0, 0, 0, 0.705) 50%),
                url('pics/valyasthad podium.jpg') no-repeat center center;
    background-position: center;
    background-size: cover; /* Default size */
    background-attachment: fixed; /* Keeps background fixed for parallax effect */
    height: 100vh; /* Full screen height */
    transition: background-size 0.4s ease-out, background 0.4s ease-out; /* Smooth transition */
    background-position: center;
    transition: background-image 1s ease-in-out;
    animation: zoom 5s infinite alternate ease-in-out;
}

@keyframes zoom {
  from {
    background-size: 100%;
  }
  to {
    background-size: 105%;
  }
}   
@media (max-width: 480px){
    @keyframes zoom {
        from {
          background-size: 200%;
        }
        to {
          background-size: 210%;
        }
      }
}
    

@media (max-width: 1040px) {
    .main{
        background-size: 100%;
        height: fit-content;
    }
}


@media (max-width: 768px) {
    /* Adjust for tablets and smaller screens */
    .main {
        background-attachment: fixed; /* Keep fixed attachment on mobile for parallax effect */
        background-size: 200%; /* Slightly smaller background on tablet/mobile */
    }
}

@media (max-width: 480px) {
    /* Adjust for very small screens */
    .main {
        background-size: 200%; /* Smaller background for mobile */
        background-attachment: scroll;
    }

}





@media (max-width: 1210px ){
    .main{
        height:auto ;
    }
}
@media (max-width: 480px ){
    .main{
        height:60vh ;
        background-size:200%;

    }
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 20px;
}
.main .image-container50 {
    display: flex;
    text-align: center;
    flex-direction: column;
    position: fixed;
    right: 6.5rem;  
    bottom: 13rem;
    display: none; /* Initially hidden */
    z-index: 1000;
}
.main .image-container50 a img {
    width: 40px;
    float: right;
    margin:-1px;
}
.main .image-container50 a img:hover{
    border: 2px transparent solid;
    border-radius: 50%;
    box-shadow: #00aaff,black,white;
}
.linkbtn {
    margin-top: -300px;
    position: fixed;
    display: flex;
    justify-content: end;
}
.linkbtn button{
    float: right;
    justify-content: right;
}
.linkbtn button img{
    width: 100px;
    float: right;
}
#toggleButton{
    float: right;
}

/* General Navbar Styles */
/* General Navbar Styles */
/* General Navbar Styles */
/* General Navbar Styles */
nav {
    height: 80px;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    padding-top: 30px;
    position: relative;
    z-index: 1000;
}

nav img {
    width: 350px;
    position: absolute;
    top: 10;
    left: 2%;
}

nav ul {
    float: right;
    margin-right: 25px;
    display: flex;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
    font-family: 'Tahoma', sans-serif;
}

nav ul li a {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #04beb8 ;
}

nav ul li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s linear;
}

nav ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

/* Hamburger Menu */
nav input[type="checkbox"] {
    display: none;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 1010;
}

.menu-toggle i {
    font-size: 24px;
    color: white;
}

#btn {
    display: block;
}

#cancel {
    display: none;
}
.main nav .navlink{
    display: none;
}

/* Responsive Styles for smaller screens */
@media (max-width: 868px) {
    /* Initially, navbar menu should be hidden */
    nav ul {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        padding: 20px;
        padding-top: 20%;
        width: 100%;
        height: 100%;
        background-color: #04beb8;
        flex-direction: column;
        align-items: left;
        z-index: 1000;
        transition: transform 0.5s ease-in-out; 
        transform: translateY(-100%); 
    }
    .main nav .navlink{
        display: block;
        flex-direction: row;
        justify-content: flex-end;
        text-decoration: none;
        color: #fff;
        margin-top: 20%;
        justify-content: space-evenly;
    }
    .main nav .navlink i{
        color: #fff;
        font-size: 200%;
        align-items: flex-end;
        padding: 5px;
    }

    /* When checkbox is checked, show the menu */
    #check:checked ~ ul {
        transform: translateY(0); /* Move the navbar down */
    }

    nav ul li {
        display: block;
        text-align: left;
        margin: 15px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
        text-align: left;
    }

    .menu-toggle {
        display: block;
    }

    #check:checked ~ label #btn {
        display: none;
    }

    #check:checked ~ label #cancel {
        display: block;
    }
}

/* Disable Scrolling when Menu is Open */
body.no-scroll {
    overflow: hidden;
}

@media (max-width: 480px) {
    nav img {
        width: 150px;
        left: 5%;
    }
}



.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -30px;
    width: 100%;
}


.big-heading {
    font-family:  Poppins, sans-serif !important;
    font-family: "Montserrat", serif;
    text-align: center;
    font-size: 5em; 
   

    color: rgb(245, 202, 11);
    color: #04beb8;
    opacity: 0;
    /* animation: fadeInUp 1s ease forwards; */
    align-items: center;
    margin-top: -90px;
    transform: translate(-50%,-50%);
    justify-content: center;
    text-shadow: 1px 1px rgb(0, 0, 0);
    
    
}
.big-heading h1{
        background-image: linear-gradient(red, blue);
        color: transparent;
        background-clip: text;
        white-space: nowrap;
  overflow: hidden;
  width: 0;
  display: inline-block;
  border-right: 3px solid black; /* Cursor effect */
  animation: typing 3s steps(30, end) forwards, blink 0.8s infinite;
}
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

.second-line {
    display: block;
    color: white;
    margin-top: -5px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 768px) {
    .big-heading {
        font-size: 3em;
    }
    .second-line{
        line-height:20px ;
    }
}

@media (max-width: 480px) {
    .big-heading {
        font-size: 2em;
        margin-top: -100%;
    }
    
    .second-line{
        margin-top: -20px;
    }
}

.btn{
    display: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20%;
    
}
.btn button{
    background-color: rgb(241, 213, 53);
    border-radius: 30px;
    width: 155px;
    height: 50px;
    border: #fff;
    
}
.btn button a{
    text-decoration: none;
    font-size: 26px;
    color: black;
    border-radius: 10px;
}
.btn button:hover{
    width: 160px;
    height: 55px;
    font-size: 28px;
}

.up-btn {
    position: fixed;
    bottom: 20px; 
    right: 5rem;  
    bottom: 5rem;
    display: block;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.up-btn button {
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin: 10px;
}

.up-btn #toggleButton{
    background: #007bff;
}
.up-btn button i {
    font-size: 1.2em;
}
/* .up-btn .upb{
    width: 50%;
} */
.up-btn button:hover {
    background-color: #0056b3;
}

@media (max-width: 480px) {
    .up-btn {
        bottom: 2rem;  /* Adjust position for smaller screens */
        right: 2rem;
    }
    .main .image-container50{
    bottom: 10rem;
    right: 3rem; 
    }
}
.main .btn{
    color: #04e0d9;
    width: 40px;
}
.main .btn button{
    color: #04beb8;
}






.second{
    background: rgb(0, 0, 0);
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}


.about{
    text-align: center;
    padding-top: 70px;
    font-family:  Poppins, sans-serif !important;
    color: rgb(247, 205, 19);
    font-size: 50px;
}
.kund{
    font-family: Poppins, sans-serif !important;
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    color: white;
    margin-right:150px;
    margin-left: 150px;    
}
@media (max-width: 768px){
    .kund{
        margin-right: 20px;
        margin-left: 20px;
        font-size: 14px;
    }
}
.know{
    text-align: center;
    margin-top: 30px;
}
.know button{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background:rgb(241, 213, 53) ;
    margin-bottom: 60px;
    box-shadow: none;
    border: #fff;
    


    
}
.know button a{
    text-decoration: none;
    font-size: 20px;
    font-family:  Poppins, sans-serif !important;;
    color: rgb(0, 0, 0);
}
.know button:hover{
    background:rgb(131, 113, 36) ;
}


.about{
    text-align: center;
    padding-top: 70px;
    font-family:  Poppins, sans-serif !important;;
    color: #04e0d9;
    font-size: 50px;
}
.kund{
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    color: white;
    margin-right:150px;
    margin-left: 150px;    
}
@media (max-width: 768px){
    .kund{
        margin-right: 20px;
        margin-left: 20px;
        font-size: 14px;
    }
}
.know{
    text-align: center;
    margin-top: 30px;
}
.know button{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background:#04beb8 ;
    margin-bottom: 60px;
    box-shadow: none;
    border: #fff;
    


    
}
.know button a{
    text-decoration: none;
    font-size: 20px;
    font-family:  Poppins, sans-serif !important;;
    color: #fff;
}
.know button:hover{
    background:#03c7c0 ;
}







.cources{
    margin-top: 5%;
    background: #04e0d909;
    /* border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
     */
}
.services-section {
    padding: 40px;
    text-align: center;
  }
  
  .services-header h2 {
    color: #d93636;
    font-size: 16px;
    margin: 0;
  }
  
  .services-header h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0;
    margin-top: 30px;
    color: #0000009f;
    text-decoration: underline;
  }

  .services-header button{
    width: 100px;
    text-decoration: none;
    color:#a61212;
    background: rgba(0, 0, 0, 0.116);
    padding: 5px;
    float: left;
    border: none;
    /* margin-top: -30px; */
  }

  .services-header button:hover{
    background: rgba(0, 0, 0, 0.295);
    transition: 0.3s;
  }
  
  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
  }
  
  .service-card {
    background-color: #009e99;
        background-color: #036f6c;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 280px;
    /* text-align: left; */
    position: relative;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.3s ease;

  }

 
  /* .service-card:hover i{
      border: rgb(255, 255, 255) solid 2px;
      border-radius: 50%;
      padding: 10px;
      background: #009e99;
      color: #ffffff;
  } */

  .service-card i{
      width: 70px;
      height: 70px;
      /* margin-top: -30px; */
      padding: 10px;
      font-size: 30px;
      color: #dcd7d7;
      border-radius: 50%;
      
  }
  .service-card i:hover{
      /* border: 2px solid #04e0d909; */
  }
  .service-card:hover h3{
    /* color: #ebe7e7f8; */
  }
  .service-card:hover p {
    /* color: #f8f8f8ec; */
  }
  .service-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .service-card .icon {
    position: absolute;
    top: 120px;
    left: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .service-card .icon img {
    width: 30px;
    height: 30px;
  }
  
  .service-card h3 {
    font-size: 18px;
    color: #ffffff ;
    margin: 20px 20px 10px;
  }
  
  .service-card p {
    font-size: 14px;
    color: #fffffff1;
    margin: 0 20px 20px;
  }









.hostel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    padding-top: 10%;
    padding-bottom: 70px;
    background:#04e0d909;
}

.hostel h1 {
    padding: 20px;
    text-align: center;
    font-size: 60px;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 10px;
    margin-bottom: 40;
}

.fff {
    border-radius: 10px;
    width: 50%;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.mySwiper {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 4px 5px 4px 5px rgba(0, 0, 0, 0.836);

}

.swiper {
    max-width: 70%;
}

.hostel .text {
    max-width: 500px;
}
.text h2{
    color: rgb(5, 180, 180);
    font-size: 30px;
}
.text p{
    color: rgb(0, 0, 0);
    font-size: 14px;
}
.text button{
    margin-top: 20px; width: 150px;
    height: 40px;
    border: transparent;
    border-radius: 30px;
    background: #04beb8;

}
.text a button{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
   
}


/* Responsive styles for tablets (screen width 768px and below) */
@media (max-width: 1000px) {
    .hostel h1 {
        font-size: 40px;
    }

    img {
        max-width: 100%;
    }

    .fff {
        width: 100%;
        margin-bottom: 20px;
    }

    .swiper {
        width: 90%;
    }

    .hostel .text {
        max-width: 100%;
        margin: 30px;
        margin-top: 30px;
    }
}
@media (max-width: 1040px) {
    .hostel .text{
        max-width: 100%;

    }
}


/* Responsive styles for mobile phones (screen width 480px and below) */
@media (max-width: 480px) {
    .hostel h1 {
        font-size: 30px;
        padding: 10px;
    }

    img {
        max-width: 100%;
    }

    .fff {
        width: 100%;
        margin: 0;
    }
    .swiper {
        width: 100%;
    }

    .hostel .text {
        max-width: 100%;
        text-align: center;
    }
}








 
.slideshow{
    display: flex;
    /* background: #04e0d909; */
    margin-top: -23px;
    margin-bottom: 40px;
    padding: 40px;
}
.slideshow h1{
    color: #04beb8;
    text-align: left;
    font-size: 350%;
    line-height: 60px;
    margin-bottom: 30px;
    align-items: center;
    align-items: center;
    margin-top: 7%;
}

.image-text{
    display: none;
    opacity: 0;
}
.image-container:hover .image-text {
    display: block;
    opacity: 1; /* Visible on hover */
}


/* Slideshow container */
.slideshow-container {
    width: 80%;
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    justify-content:center;
  }
.slideshow-container .image-text{
    width: 90%;
}
.image-container:hover .image-text{
    display: block;
    opacity: 1; /* Visible on hover */
}
  @media (max-width:1100px){
    .slideshow{
        flex-direction: column;
        padding: 5px;
        margin: 0;
    }
    .slideshow h1{
        text-align: center;
    }
   
      .image-text{
    display: none;
    opacity: 0;
}
.image-container:hover .image-text {
    display: block;
    opacity: 1; /* Visible on hover */
}    
      
    
  }
  
  /* Slides */
  .mySlides {
    display: none;
  }
  
  /* Slide content to display three images */
  .slide-content {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .image-container {
    position: relative; /* To position the text over the image */
    border-radius:10px ;
    text-align: center;
  }
  
  .image-container img {
    width: 90%; /* Each image takes 30% of the container */
    height: auto;
    border-radius: 10px;
    border: solid #ffff 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .image-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 15px;
    font-weight:normal;
    font-family:  Poppins, sans-serif !important;;
    background-color: rgba(0, 0, 0, 0.6);
    background-color: #04beb8d1;
    padding: 10px;
    border-radius: 35px;

    
  }
  
  /* Hover effect for images */
  .image-container img:hover {
    transform: scale(1.1); /* Slight zoom on hover */
  }
  
  /* Navigation buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Dots */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: none;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #ffffff;
  }
  
  /* Fade animation */
  @keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
  }
  @media (max-width:480px){
     .slideshow{
         margin: 0;
         padding:5px;
         flex-direction: column;
         margin-bottom: 50px;
     }
     .slideshow h1{
         font-size: 40px;
     }
     .slideshow-container{
         width: 100%;
     }
    .image-container img{
        width: 500px;
     }
     
}






  
  
  
  












.news{
    width: 100%;
    height: auto;
    background: url(pics/curve\ bg.png);
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}
.newst{
    display: flex;
    justify-content: space-evenly;
}
.news h1{
    font-size: 60px;
    margin: 5%;
    color: #04beb8;
}
.news h2{
    font-size: 30px;
    color: #04beb8;
}
.news p{
    color: #fff;
    font-size: 14px;
}
.news a{
    color: #04beb8;
}
.news .firstline{
    width: 50%;
}
.news .newst .secondline{
    width:45% ;
    display: block;
}
@media (max-width:700px){
    .news .newst .secondline{
        display: none;
    }
    .news .firstline{
        width:90% ;
    }
    .news h1{
        margin-top: 20%;
    }
}
    


    




    .talk2{
        /* width: 100%; */
        height: auto;
        display: flex;
        justify-content: space-evenly;
        padding: 30px;
        margin: 5px;
        z-index: 1000;
        background: rgb(37, 37, 37);
        border: 2px solid transparent;

        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .talk2 h1{
        text-align: left;
        
    }
    
        .talk2 hr{
            color: black ;
            margin-bottom: 5%;
        }
        .talk2 .under{
            font-size: 10px;
            max-width: 180px;
            background: #fff;
            text-align: center;
            border: #fff 2px ridge;
            border-radius: 10px;
            box-shadow: 8px 10px 8px 10px rgba(0, 0, 0, 0.644);
        }
        .talk2 .untext{
            width: 50%;
        }
        .talk2 .untext h1{
            color: #04beb8;
            font-size:45px;
        }
        .talk2 .untext p{
            font-size: 14px;
            color: #ffffff;
        }
        .talk2 .untext button{
            margin-top: 20px; width: 150px;
            height: 40px;
            border-radius: 30px;
            box-shadow: none;
            background: #04beb8;
            border: #fff;
        
        
        }
        .talk2 .untext button a{
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: 18px;
        }
@media (max-width:900px){
    .talk2{
        align-items: center;
        flex-direction: column;
    }
    .talk2 .under{
        max-width: 180px;
        height: auto;
        justify-content: space-between;
    }
    .talk2 .untext{
        width: 90%;
        align-items: center;
        text-align: center;
        margin-top: 50px;
    }
    .talk2 .untext h1{
        text-align: center;
    }
    .talk2 .untext p{
        
    }
}


       
    
    
    
      .misvis{
        width: 100%;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        background:#04e0d909;
    }
    .misvis h1{
        color: rgba(0, 0, 0, 0.801);
        font-size: 60px;
        text-align: center;
        
    }
    .misvis .container20 .box i{
        color: #02c2bb;
        border: 2px transparent solid;
        border-radius: 50%;
        padding: 10px;
        font-size: 30px;
        background: #ffffffec;
        
    }
      .misvis .container20 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 30px;
    }
    
    .misvis .container20 .box {
        background: #fcfcfcee;
        border: 1px solid #ddd;
        /* box-shadow: 2px 2px black; */
        border-radius: 8px;
        margin: 10px;
        padding: 40px;
        width: 300px;
        box-sizing: border-box;
        margin-top: 0;
        text-align: center;
    }
    .misvis .container20 .box:hover i{
        transition: 0.2s;
        border-radius: 20%;
        font-size: 35px;
    }
    .misvis .container20 .box:hover{
        box-shadow: none;
    }
    
    
    .misvis .container20 .box h2 {
        font-size: 22px;
        color: #02c2bb;
        margin-bottom: 20px; /* Adjusted to make space for the number */
        padding: 10px;
    }
    .misvis .container20 .box p {
        font-size: 14px;
        color: black;
    }
    
    /* Responsive Styles */
    @media (max-width: 1210px) {
        .box {
            width: 250px;
        }
        .misvis h1{
            margin-bottom: 30px;
        }
    }
    
    @media (max-width: 768px) {
        .container20 {
            flex-direction: column;
            align-items: center;
        }
    
        .box {
            width: 90%;
        }
    }
    
    @media (max-width: 480px) {
        .misvis .container20 .box{
            padding: 20px;
        }
        .box h2 {
            font-size: 14px;
        }
    
        .box p {
            padding:0;
        }
    }
    
    
    
    
    
    
 



    .publi{
        width: 100%;
        background: #ffffff;
        padding: 20px;
    }
    .publi .quick{
        width: 100%;
    }
    .publi h1{
        /* background: rgba(0, 0, 0, 0.788); */
        /* text-decoration: underline; */
        font-size: 50px;
        margin-bottom: 30px;
        padding: 10px;
        margin-top:50px;
        /* border: solid black;
        border-radius: 10px; */
        width:fit-content;
        color: #04beb8;
        text-align: center;
        justify-content: center;
    }
  
    .publi .container21{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;

    }
    .publi .container21 .round{
        display: flex;
        background: rgba(0, 0, 0, 0.884);
        width: 200px;
        height: 200px;
        margin: 20px;
        padding: 30px;
        border: 2px solid rgba(0, 0, 0, 0.863);
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition:0.3s;
    }
    .publi .container21 h2{
        color: #ffff;
        justify-content: center;
        align-items: center;
    }
    .publi .container21 .round:hover{
        /* background: #ffffff; */
        transition: 0.3s;
        padding: 20px;
    }
    .publi .container21 .round:hover h2{
        /* color: rgba(0, 0, 0, 0.884); */
    }
    .publi .container21 .round:hover i{
        width: 60px;
        height: 60px;
        padding-top: 15px;
        color: #04beb8;
        border: transparent solid 2px;
        transition: 0.5s;
        border-radius: 50%;
    }
    @media (max-width:480px){
        
        .publi .container21{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .publi .container21 .round{
            margin: 10px;
            flex-direction: row;
            flex-wrap: wrap;
            width: 150px;
            height: 150px;
        }
        .publi .container21 h2{
            font-size: 20px;
        }
        .publi .container21 .round:hover i{
            background: #fff;
            width: 40px;
            height: 40px;
            padding: 8px;
        }
    }






    .upi{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 50px;
        background: url(pics/curve\ white.png) center;
    }
    .upi h1{
        text-align: center;
        color: rgba(0, 0, 0, 0.774);
        font-size: 28px;
        margin: 30px;
        text-decoration: underline;

    }
    /* .upibtn {
        display: flex;
        flex-direction: column;

        width: fit-content;
        padding: 15px 30px;
        background-color: #4CAF50;
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        justify-content: center;
        border-radius: 8px;
        transition: background-color 0.3s ease;
      }
  
      .upi-button:hover {
        background-color: #45a049;
      }


      .container40 {
        text-align: center;
        margin-top: 50px;
      }
  
      .qr-code img {
        width: fit-content;
        height: 300px;
        object-fit: cover;
        box-shadow: 2px 2px 2px 2px #04beb8 ;
      }
  
      .instructions {
        font-size: 18px;
        margin-top: 20px;
      }
      @media (max-width: 1000px) {
          .upi h1{
              margin: 5%;
          }
          .upibtn{
              background: rgba(0, 0, 0, 0.39);
              text-align: center;
              margin-bottom: 30px;
              padding: 5px;
              align-items: center;
          }
          .upibtn h2{
              color: #fff;

          }
      } */

      .upi .containerupi .box{
        background: #525151b6;
        border: 1px solid #ddd;
        border-radius: 8px;
        margin: 10px;
        padding: 40px;
        width: 300px;
        box-sizing: border-box;
        margin-top: 0;
        text-align: center;
      }








    
    .addresspage {
        width: 100%;
        height: 90vh;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.726)50%,rgba(0, 0, 0, 0.822))50%,url(pics/map.png);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container25 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        width: 90%;
        max-width: 1200px;
        box-sizing: border-box;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .addresspage .container25 .address{
        flex-direction: row;
    }
    .addresspage .container25 .address p i{
        padding-right: 10px;
    }
    
    


    .address, .contact-form {
        background: #061ef573;
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 2px 4px 2px 4px rgb(0, 0, 0);
        margin-top: 20px;
        padding: 20px;
        color: white;
        box-sizing: border-box;
        width: 45%;
    }
    
    .addresspage h2 {
        font-size: 1.5em;
        margin: 0 0 10px;
        color: white;
    }
    
    .addresspage p {
        margin: 0;
    }
    
    .form-group {
        margin-bottom: 15px;
    }
    
    .form-group label {
        display: block;
        margin-bottom: 5px;
        color: white;
    }
    
    .form-group input, .form-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
    }
    
    .addresspage button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 1em;
        border-radius: 5px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        gap: 8px;
    }
    
    .addresspage button i {
        font-size: 1.2em;
    }
    
    .addresspage button:hover {
        background-color: #0056b3;
    }
    
    .addresspage .button-container {
        text-align: center;
        margin-top: 20px;
    }
    
    @media (max-width: 1210px) {
        .addresspage{
            height: auto;
        }
        .container25{
            
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
    
    @media (max-width: 480px) {
        .container25{
            flex-direction: column;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .address, .contact-form{
            width: 100%;
        }
        .addresspage{
            background: linear-gradient(to top, rgba(0, 0, 0, 0.815),rgb(0, 0, 0));
            height: auto;
        }
    }
    
    
    
